<div id="form1">
<br />
<br />
<div id="link1">
<%= link_to 'listing Job-Orders', job_orders_path %>||
<%= link_to 'Create Job-Order', new_job_order_path %>
</div>
<div id="link">
<%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> ||
<%= current_user.email if user_signed_in? %>
</div>
<br />
<br />
<header>
   <%= image_tag("header2.gif", :alt => "ASI-HEADER", :class => "round") %>
  </headers>
<table>
  <tr>
    <th>Status</th>
    <th>Category</th>
    <th>Company Name</th>
    <th>System</th>
    <th>Team Leader</th> 
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_orders.each do |job_order| %>
  <tr>
    <td><%= job_order.status %></td>
    <td><%= job_order.category %></td>
    <td><%= job_order.company_name %></td> 
    <td><%= job_order.system %></td>
    <td><%= job_order.technical1 %></td>
    <td><%= link_to 'Print View', job_order %></td>
    <td><%= link_to 'Edit', edit_job_order_path(job_order) %></td>
    <td><a href="http://joborder.heroku.com/admin">Update</a></td>
  </tr>
<% end %>
</table>

<br />
</div>
